name: Go

on: push

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
    steps:
      - uses: actions/checkout@v3
        with:
          path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.x

      - name: Install dependencies
        run: go mod download

      - name: Set up env
        run: cp .env.test .env

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
